[Unit]
Description=Mediamtx Monitoring API (FastAPI)
After=network.target redis-server.service
Requires=redis-server.service

[Service]
User=mediamtxmon
Group=mediamtxmon
WorkingDirectory=/opt/mediamtx-monitoring-backend
ExecStart=/opt/mediamtx-monitoring-backend/venv/bin/uvicorn bin.mediamtx_api:app --host 0.0.0.0 --port 8080
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
