[Unit]
Description=MediaMTX System Monitor
After=network.target redis-server.service
Requires=redis-server.service

[Service]
Type=simple
User=mediamtxmon
Group=mediamtxmon
WorkingDirectory=/opt/mediamtx-monitoring-backend
ExecStart=/opt/mediamtx-monitoring-backend/venv/bin/python3 bin/mediamtx_systeminfo.py
Restart=on-failure
RestartSec=5
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target
